.about {
    padding-top: 10%;
    min-height: 80%;
    min-width: 300px;
}

#profile {
    width: 100%;
    border-radius: 1%;
    margin-bottom: 10px;
}

.social {
    img {
        min-width: 40px;
        padding: 5px;
    }
}