.description {
    background-color: #ededed;
    padding: 5% 10%;
}

.outward {
    min-height: 300px;
    background-color: #333;
    width: 100%;
    padding: 0;
}

.outward .inner {
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.outward .inner div {
    padding: 10px;
}

.outward .inner div img {
    width: 50%;
    margin: auto;
    padding: 10px;
}