.description {
    background-color: #ededed;
    padding: 5% 10%;
}

.outward {
    //min-height: 300px;
    background-color: #333;
    width: 100%;
    padding: 0;
}

.headermedia {
    margin: auto;
    max-height: 50%;
}

.mediaCol.col-md-6 {
  padding:0;
}

.contentCol.col-md-6{
  padding: 20px 50px;
}

.iholder {
    background-color: #ededed;
    min-height: 250px;
    iframe {
        margin: 10% 15%;
    }
}

.outward .inner {
    margin: 20 auto;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    display:block;

@media screen and (min-width:768px){
  display: flex;
  justify-content: center;
}
}
.outward .inner div {
    padding: 30px;
}

.outward .inner div img {
    width: 60%;
    margin: auto;
    padding: 10px;
}

.innerLink:hover, .innerLink:focus {
    text-decoration: none;
}

.visual {
    margin-top: 0px;
    margin: 0;
    padding: 0 !important;
    img {
        width: 100%;
    }
}

#work .col-md-4 {
    padding: 5% 20px;
}

.facet {
    h2 {
        padding-top: 10px;
    }
    p {
        padding: 20px 0;
    }
}

.projectImg {
  width:100%;
  height:auto;
  z-index:0;

}

.visual{
  position: relative;

  &:hover .viewLink{
    display:flex;
  }
}
.viewLink{
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  align-items:center;
  justify-content: center;
  background-color:rgba(0,0,0,0.4);

  a button{

    text-align: center;
    color: $light;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4);
    border: 3px solid $light;
    width:200px;
    &:hover{
      background-color: $light;
      color:dark;
      transition:all .5s;
    }
  }

}
