
//tutorial from http://tympanus.net/codrops/2012/04/17/rotating-words-with-css-animations/
.rw-front {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 100px;
}

.rw-words {
    display: inline;
    position: absolute;
    width: 360px;
    // @include centerer;
    font-size: 80px;
    font-style: bold;
    text-align: left;
    font-family: sans-serif;
    color: #e7e7e7;
    overflow: hidden;
}

.rw-words-1 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: $dark;
    -webkit-animation: rotateWord 12s linear infinite 0s;
    -ms-animation: rotateWord 12s linear infinite 0s;
    animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(1) {}

.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

@media screen and (min-width:250px) {
    .rw-words-1 span:nth-child(3) {
        -webkit-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
    }
    .rw-words-1 span:nth-child(4) {
        -webkit-animation-delay: 9s;
        -ms-animation-delay: 9s;
        animation-delay: 9s;
    }
    @-webkit-keyframes rotateWord {
        0% {
            opacity: 0;
        }
        2% {
            opacity: 0;
            -webkit-transform: translateY(-30px);
        }
        5% {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
        17% {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
        20% {
            opacity: 0;
            -webkit-transform: translateY(30px);
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @-ms-keyframes rotateWord {
        0% {
            opacity: 0;
        }
        2% {
            opacity: 0;
            -ms-transform: translateY(-30px);
        }
        5% {
            opacity: 1;
            -ms-transform: translateY(0px);
        }
        17% {
            opacity: 1;
            -ms-transform: translateY(0px);
        }
        20% {
            opacity: 0;
            -ms-transform: translateY(30px);
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes rotateWord {
        0% {
            opacity: 0;
        }
        2% {
            opacity: 0;
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }
        5% {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }
        17% {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }
        20% {
            opacity: 0;
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .rw-words {
        font-size: 48pt;
    }
    #header {
        max-width: 100%;
        overflow: hidden;
        height: 50%;
        img {
            max-width: 500px;
            width: 80%;
            margin: 5%;
            content: url("../media/headerlogo.png");
        }
    }
}

@media screen and (max-width: 320px) {
    .rw-words {
        font-size: .9em;
    }
}