--- title: Facet ---

<section class="description about">
    <div class="media col-md-3">
        <img id="profile" src="assets/image/profile.jpg">
        <div class="col-md-12 social">
            <div>
                <a href="https://www.linkedin.com/in/charliebackus" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/linkedin.svg">
                </a>
            </div>
            <div>
                <a href="https://github.com/cmbackus" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/github.svg">
            </div>
            <div>
                <a href="http://ritfacet.tumblr.com/" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/twitter2.svg">
                </a>
            </div>
            <div>
                <a href="http://ritfacet.tumblr.com/" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/instagram.svg">
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <h2>Hi, I'm Charlie</h2>
        <p>I am a creative developer. My interests include responsive web, ux, and node.js. Outside of the browser, my hobbies include folding origami, and working my cats' names into song lyrics. </p>
    </div>

</section>
{{>_footer}}