<section class="description about">
    <div class="col-md-4">
        <img id="profile" src="assets/image/profile.jpeg">
        <div class="col-md-12 social">
            <div>
                <a href="https://www.linkedin.com/in/charliebackus" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/linkedin.svg">
                </a>
            </div>
            <div>
                <a href="https://github.com/cmbackus" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/github.svg">
            </div>
            <div>
                <a href="http://twitter.com/iamcbackus" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/twitter2.svg">
                </a>
            </div>
            <div>
                <a href="https://instagram.com/ramblingambol/" target="_blank"><img class="col-md-3 col-xs-3" src="assets/image/instagram.svg">
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <h2>Hi, I'm Charlie</h2>
        <p>I am a creative developer. My interests include design systems, generative art, and how we bring our dev and design tools closer together. Outside of the browser, my hobbies include training my sweet, rambunctious dog Onyx and playing banjo as far outdoors as I can get. </p>
    </div>

</section>
{{>_footer}}
