--- title: Facet ---
<div class="col-md-12 videoWrapper ">
    <iframe src="https://player.vimeo.com/video/128407558?autoplay=1&title=0&byline=0&portrait=0" width="1000" height="563" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>
<section class="description facet">

    <div class="facet">
        <h2>Facet</h2>
        <p>Facet was an indepth project created by a team of 8, including designers and developers. Our team created an interactive display case which brings the context and detail provided in online shopping into the in store retail experience. This web app provides in depth information about the product, as well as the brand's history, icons, timeline, and social media. This project took place over one semester, with the final exhibit displayed at Rochester Institute of Technology's Imagine R.I.T festival</p>
    </div>

</section>
<section class="outward facet">
    <div class="inner">
        <div class=col-md-4>
            <a href="http://facetnfctest.herokuapp.com" target="_blank"><img src="assets/image/circle-right.svg">
                <h3>View It Live</h3></a>
        </div>
        <div class=col-md-4>
            <a href="https://github.com/chrisknepper/FacetProject" target="_blank"><img src="assets/image/github2.svg">
                <h3>Project Repo</a></h3></div>
        <div class=col-md-4>
            <a href="http://ritfacet.tumblr.com/" target="_blank"><img src="assets/image/tumblr.svg">
                <h3>Team Blog</h3></a>
        </div>
    </div>
</section>
<div class="visual col-md-6">
    <img src="assets/image/facet.jpg">

</div>
<div class="facet col-md-6">
    <h2>Imagine R.I.T.</h2>
    <p>The Imagine RIT festival is Rochester Institute of Technology's largest campus wide festival. Facet was exhibited at Imagine, with Facet's exhibit reaching over one thousand visitors.</p>
</div>
<section id="work" class="other">
    <h1>Work</h1>
    <div class=galleryholder>
        <a href="facet.html">
            <div class="col-md-4 item selected" id=facet>
                <h2>Facet</h2>
                <img src="assets/image/facet.png">

            </div>
        </a>
        <a href="sito.html">
            <div class="col-md-4 item" id=sito>
                <h2>SITO</h2>
                <img src="assets/image/sito.png">
            </div>
        </a>
        <a href="playground.html">
            <div class="col-md-4 item" id=playground>
                <h2>Other Work</h2>
                <img src="assets/image/playground.png">
            </div>
        </a>
    </div>