--- page: Home ---
<section>
    <div class="rw-bg">
        <div id=holder>
            <h1 id='intromessage'> Let's Build the Web.  Together.</h1>
        </div>
    </div>
</section>
<section id="work">
    <h1>Work</h1>
    <div class=galleryholder>
        <a href="facet.html">
            <div class="col-md-4 gitem" id=facet>
                <h2>Facet</h2></div>
        </a>
        <a href="facet.html">
            <div class="col-md-4 gitem" id=sito>
                <h2>SITO</h2></div>
        </a>
        <a href="playground.html">
            <div class="col-md-4 gitem" id=playground>
                <h2>Playground</h2></div>
        </a>
    </div>

</section>