--- page: Home ---
<section>
    <div class="rw-bg">
        <div id=holder>
            <h1 id='intromessage'> Let's Build the Web.  Together.</h1>
        </div>
    </div>
</section>
<section id="work">
    {{>_footer}}
</section>
