<div class="featured">

    <div id="projectCarousel" class="carousel slide" data-ride='carousel' data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#projectCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#projectCarousel" data-slide-to="1"></li>
            <li data-target="#projectCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel images -->
        <div class="carousel-inner">
            <div class="active item"><img class="cimg" id="featuredImg"></div>
            <div class="item"><img class="cimg" id="featuredImg2"></div>
            <div class="item"><img class="cimg" id="featuredImg3"></div>
        </div>
        <!-- Carousel navigation -->
        <a class=" carousel-control left glyphicon glyphicon-chevron-left" href="#projectCarousel" data-slide="prev"></a>
        <a class="carousel-control right glyphicon glyphicon-chevron-right" href="#projectCarousel" data-slide="next"></a>
    </div>
    <div id=featuredDetails>
        <span class="col-md-4"><h2 id="featuredTitle" ></h2></span>
        <span class="col-md-8"><p id="featuredDesc" ></p>
    <p><a id="featuredLink" target="_blank">View Here</a></p>
</span>
    </div>
</div>

<div id="galleryset">
    <ul id="galleryspace"></ul>
</div>
</div>
<section id="work" class="other">
    <h1>Work</h1>
    <div class=galleryholder>
        <a href="facet.html">
            <div class="col-md-4 item" id=facet>
                <h2>Facet</h2>
                <img src="assets/image/facet.png">

            </div>
        </a>
        <a href="sito.html">
            <div class="col-md-4 item" id=sito>
                <h2>SITO</h2>
                <img src="assets/image/sito.png">
            </div>
        </a>
        <a href="playground.html">
            <div class="col-md-4 item selected" id=playground>
                <h2>Playground</h2>
                <img src="assets/image/playground.png">
            </div>
        </a>
    </div>