--- title: Facet ---
<div class="col-md-12 visual">
    <image src="assets/image/sitoheader.png"></image>
</div>
<section class="description facet">

    <div class="facet">
        <h2>SITO</h2>
        <p>Sito is an organization composed of R.I.T. which makes software for students, by students. The Sito website is intended as an overview for students, potential clients, and the public, to view what the Student IT Office is and what we are working on. I was responsible for the design and development of the Sito homepage. </p>
    </div>

</section>
<section class="outward facet">
    <div class="inner">
        <div class=col-md-4>
            <a href="http://rit.edu/its/sito" target="_blank"><img src="assets/image/circle-right.svg">
                <h3>SITO Live</h3></a>
        </div>
        <div class=col-md-4>
            <a href="http://tigercenter.rit.edu" target="_blank"><img src="assets/image/circle-right.svg">
                <h3>Tiger Center</h3></a>
        </div>
        <div class=col-md-4>
            <a href="http://facebook.com/studentitoffice" target="_blank"><img src="assets/image/circle-right.svg">
                <h3>Sito Social</h3></a>
        </div>
    </div>
</section>
<div class="media col-md-6">
    <img src="assets/image/tigercenter.png">

</div>
<div class="facet col-md-6">
    <h2>Tiger Center</h2>
    <p>Tiger Center is an alternative enrollment tool for RIT students to find and enroll in classes. I contribute to the front end of the site, including the new logo for Tiger Center. </p>
</div>
<section id="work" class="other">
    <h1>Work</h1>
    <div class=galleryholder>
        <a href="facet.html">
            <div class="col-md-4 item" id=facet>
                <h2>Facet</h2>
                <img src="assets/image/facet.png">

            </div>
        </a>
        <a href="sito.html">
            <div class="col-md-4 item selected" id=sito>
                <h2>SITO</h2>
                <img src="assets/image/sito.png">
            </div>
        </a>
        <a href="playground.html">
            <div class="col-md-4 item" id=playground>
                <h2>Playground</h2>
                <img src="assets/image/playground.png">
            </div>
        </a>
    </div>

</section>