<section id="work" class="other">
    <h1>Work</h1>
    <div class=galleryholder>
        <a href="snowday.html">
            <div class="col-md-4 item" id=facet>
                <h2>Snowday</h2>
                <img src="assets/image/snowday_tab.png">

            </div>
        </a>
        <a href="transrocspeaks.html">
            <div class="col-md-4 item" id=sito>
                <h2>Trans Rochester Speaks</h2>
                <img src="assets/image/trans_roc_tab.png">
            </div>
        </a>
        <a href="sito.html">
            <div class="col-md-4 item" id=sito>
                <h2>SITO</h2>
                <img src="assets/image/sito.png">
            </div>
        </a>
    </div>

</section>
