<header>
    <div id="mainInfo">
        <a href="index.html"><img src="assets/image/logo.png" height="75px"></a>

        <nav>
            <ul class="navigation">
                <li id="aboutLink"><a href="about.html">About</a></li>
                <li><a href="facet.html">Work</a></li>
                <li><a href="assets/CharlesBackusResume.pdf" target="_blank"> Resume</a></li>
            </ul>
        </nav>

    </div>
</header>
