.outward{
    min-height:100px;
    background-color:#333;
    width:80%;
    padding:5% 10%;
    ul{
        margin:auto;
    }
    li{
        width:150px;
        height:150px;
        margin:0px 7%;
        display:inline-block;
        float:left;
        background-color:#0093D2;
        border-radius:100px;
        position:relative;
        h3{
            position:absolute;
            top:-70px;;
            left:20px;
            text-align:center;
            color:#ededed;
        }
        img{
            position:absolute;
            top:25px;
            right:25px;
            width:100px;
            height:100px;
        }
    }
}