<html>

<head>
    <title>Charlie Backus</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="media/favicon.png">
    <link href="./css/base.css" rel="stylesheet" type="text/css">
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/gallerySetup.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <header>
        <div id="mainInfo">
            <a href="index.html"><img src="assets/image/logo.png" height="75px"></a>

            <nav>
                <ul class="navigation">
                    <li id="aboutLink"><a href="about.html">About</a></li>
                    <li><a href="assets/CharlesBackusResume.pdf" target="_blank"> Resume</a></li>
                </ul>
            </nav>

        </div>
    </header>

    {{>body}}
</body>

</html>